.StockCards {
  border: 1px solid var(--black);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex
}

.StockCards div {
  flex: 40%
}

.StockCard {
  flex:40%
}