.StockCards {
  border: 1px solid var(--black);
  border-radius: var(--borderRadius);
  margin-top: 8px;
  /* background: #383838; */
  /* color: white; */
  display: flex
}

.StockCards div {
  /* flex: 20% */
}

.StockCard {
  margin-left: 5px;
  margin-right: 5px;
  flex: 20%;

}