.PostCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.NewsCard--Row {
  display: flex;
}

.NewsCard--Score {
  flex: 20%;
}

.NewsCard--ScoreIcon-green {
  display: inline-block;
  padding: 3px;
  float: right;
  border-radius: 6px;
  background: #32ad5d; /* #1e731e;*/
  color: white;
}

.NewsCard--ScoreIcon-yellow {
  display: inline-block;
  padding: 3px;
  float: right;
  border-radius: 6px;
  background: #e6d249;
}

.NewsCard--ScoreIcon-red {
  display: inline-block;
  padding: 3px;
  float: right;
  border-radius: 6px;
  background: #ad3232; /* #9c2727;*/
  color: white;
}

.NewsCard--MetaData {
  display: flex;
}

.PostCard:hover,
.PostCard:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.PostCard--Image {
  margin: 0 0 2rem 0;
  /* width: 18rem; */
  width: 100%;
  /* height: 18rem; */
  /* height: 100%; */
  flex: 20%;

}

.PostCard--Title {
  margin: 0;
}

.PostCard--Content {
  padding: 0 2.5rem 2.5rem;
  flex: 75%;
}

.PostCard--Date {
  padding: 0 0.5rem 2.5rem;
  flex: 50%;
}

.PostCard--Price-g {
  padding: 0 2.5rem 2.5rem;
  color: green;
}

.PostCard--Price-r {
  padding: 0 2.5rem 2.5rem;
  color: red;
}

.PostCard--Price-def {
  padding: 0 2.5rem 2.5rem;
  color: black;
}

.PostCard--Attr-green {
  padding: 0 0.2rem 1.5rem;
  color: #1e731e;
}

.PostCard--Attr-red {
  padding: 0 0.2rem 1.5rem;
  color: #9c2727;
}

.PostCard--Attr-default {
  padding: 0 0.2rem 1.5rem;
  color: black;
}

.PostCard--Category {
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
}

.PostCard--Temp {
  text-decoration: none;
  color: inherit;
}